@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 221.2 83.2% 16.3%;
  --card: 0 0% 97.3%;
  --card-foreground: 221.2 83.2% 16.3%;
  --popover: 0 0% 100%;
  --popover-foreground: 221.2 83.2% 16.3%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 221.2 83.2% 16.3%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 221.2 83.2% 16.3%;
  --accent: 221.2 83.2% 58.0%;
  --accent-foreground: 221.2 83.2% 53.3%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
  --border: 210 40% 96.1%;
  --input: 210 40% 96.1%;
  --ring: 221.2 83.2% 53.3%;
  --chart-1: 221.2 83.2% 53.3%;
  --chart-2: 142.1 70.6% 45.3%;
  --chart-3: 38.6 92.1% 50.4%;
  --chart-4: 142.3 76.2% 36.3%;
  --chart-5: 11.6 86.3% 55.1%;
  --sidebar: 0 0% 97.3%;
  --sidebar-foreground: 221.2 83.2% 16.3%;
  --sidebar-primary: 221.2 83.2% 53.3%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 221.2 83.2% 58.0%;
  --sidebar-accent-foreground: 221.2 83.2% 53.3%;
  --sidebar-border: 210 40% 96.1%;
  --sidebar-ring: 221.2 83.2% 53.3%;
  --radius: 1.3rem;
}

.dark {
  --background: 0 0% 0%;
  --foreground: 210 40% 98%;
  --card: 217.2 32.6% 17.5%;
  --card-foreground: 210 40% 98%;
  --popover: 0 0% 0%;
  --popover-foreground: 210 40% 98%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 221.2 83.2% 16.3%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 13.8% 34.3%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 221.2 83.2% 53.3%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 221.2 83.2% 53.3%;
  --chart-1: 221.2 83.2% 53.3%;
  --chart-2: 142.1 70.6% 45.3%;
  --chart-3: 38.6 92.1% 50.4%;
  --chart-4: 142.3 76.2% 36.3%;
  --chart-5: 11.6 86.3% 55.1%;
  --sidebar: 217.2 32.6% 17.5%;
  --sidebar-foreground: 210 40% 98%;
  --sidebar-primary: 221.2 83.2% 53.3%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 217.2 32.6% 17.5%;
  --sidebar-accent-foreground: 221.2 83.2% 53.3%;
  --sidebar-border: 217.2 32.6% 17.5%;
  --sidebar-ring: 221.2 83.2% 53.3%;
  --radius: 1.3rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
